@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color:
    #7e22ce;
    --off-white: #f3f4f6;
    --dark-gray:#6b7280;
}


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

hr {
    margin: 2rem 0rem;
}
/* Spacs */
.margin-md {
    margin: 2rem;
}

/** container **/

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/**Links**/
.link {
    box-sizing: border-boxss;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}
.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
    
}

/* .secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1.5px solid var(--primary-color);
    margin-left: 10px;    
} */


/** Lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color:white;
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;
    padding-top: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
   padding-top: 1rem;
    color:var(--dark-gray);

}

.hero .hero-heading .heading-inverted {
    color:var(--primary-color);
}


/** Section **/

.section {
    padding: 1.5rem 3rem;
}

.section h3 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/** Footer  **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}



.showcase-list {
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    margin: 1.5rem auto;
    list-style: none;
}


